numpy==1.26.4
pandas==1.2.0
matplotlib==3.9.4
transformers==4.35.2
omegaconf==2.0.5
opencv-python==4.10.0.84
scipy==1.13.1
pycocotools==2.0.8
pydicom==2.4.4
scikit-image==0.24.0
scikit-learn==1.5.2
nltk==3.5
wandb==0.23.1